.po_items_ho {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.po_item {
    width: 300px;
    height: 400px;
    text-align: center;
    margin: 0.5rem;
    background: var(--bg-color);
    padding: 10px;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.po_item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.po_title {
    font-size: 1.2rem;
    margin: 10px 0 5px 0;
    color: var(--text-color);
    font-weight: bold;
    flex-shrink: 0;
}

.po_desc {
    font-size: 0.9rem;
    margin: 5px 0 10px 0;
    color: var(--text-color-2);
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: pre-line;
}

.po_item a {
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 6px 12px;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s ease;
    align-self: center;
}

.po_item a:hover {
    text-decoration: none;
    background: var(--text-color);
    color: var(--bg-color);
}

.po_item:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
